<footer class="bg-blueblack text-white px-2 pt-5">
    <div class="container">
       <div class="footer-content">
          <div class="row pt-4">
             <div class="stylish col-md-4 col-6">
                <h3 class="pb-3"> <a routerLink="home" class="text-white"> Noxe </a> </h3>
                <ul class="p-0">
                   <li class="mb-2"> <a routerLink="/about" class="text-white"> About Us </a> </li>
                   <li class="mb-2"> <a routerLink="/contact" class="text-white"> Contact us </a> </li>
                   <li class="mb-2"> <a routerLink="/term-service" class="text-white"> Terms of Service </a> </li>
                </ul>
             </div>
             <div class="products col-md-4 col-6">
                <h3 class="pb-3 "> <a routerLink="shop/products" class="text-white"> Products </a> </h3>
                <ul class="p-0">
                   <li class="mb-2"> <a routerLink="/movies" class="text-white"> Movies </a> </li>
                   <li class="mb-2"> <a routerLink="/tv" class="text-white"> TV </a> </li>
                   <li class="mb-2"> <a routerLink="/people" class="text-white"> People </a> </li>
                </ul>
             </div>
             <div class="about col-md-4 col-12">
                <h3 class="pb-3"> About </h3>
                <p class="mb-2"> Noxe is an online platform where users can explore a wide variety of films.
                   It highlights the latest popular films that are capturing audience attention. </p>
             </div>
              <div class="social-accounts d-flex justify-content-center pt-5 pb-4">
                <div class="facebook">
                  <i class="fab fa-facebook mx-1"></i>
                </div>
                <div class="twitter">
                   <i class="fa-brands fa-twitter text-2xl px-2 cursor"></i>
                </div>
                <div class="instagram">
                   <i class="fa-brands fa-instagram text-2xl px-2 cursor"></i>
                </div>
                <div class="tiktok">
                   <i class="fa-brands fa-tiktok text-2xl px-2 cursor"></i>
                </div>
              </div>
              <div class="footer-copyright text-center pb-4">
                <span> &copy; 2024, <a routerLink="home" class="text-white"> Noxe </a> EG. </span>
              </div>
          </div>
       </div>
    </div>
 </footer>