<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <h1 class="text-white fw-bolder"> <a routerLink="home"> Noxe </a> </h1>
      </a>
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link text-white" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link text-white" routerLink="movies">Movies</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link text-white" routerLink="tv">TvShows</a>
          </li>
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link text-white" routerLink="people">People</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="d-flex align-items-center me-3">
              <input type="text" class="form-control p-0 me-4 pe-3 ps-2" (keyup)="searchForMedia($event)"  placeholder="Search and explore..." *ngIf="isLogin"/>
                <i class="fab fa-facebook mx-1"></i>
                <i class="fab fa-instagram mx-1"></i>
                <i class="fab fa-youtube mx-1"></i>
                <i class="fab fa-twitter mx-1"></i>
                <i class="fab fa-spotify mx-1"></i>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogin" class="nav-link text-white" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogin" class="nav-link text-white" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
              <a (click)="logOut()" *ngIf="isLogin" class="nav-link text-white out">LogOut</a>
            </li>
        </ul>
      </div>
    </div>
</nav> -->
<nav class="d-flex px-3 py-2">
   <div class="logo d-flex align-items-center">
      <h1> <a routerLink="home"> Noxe </a> </h1>
   </div>
   <div class="links nav-hide p-3">
      <ul class="d-flex m-0 p-0">
        <li class="px-2">
          <a *ngIf="isLogin" class="text-white" routerLink="home">Home</a>
        </li>
        <li class="px-2">
          <a *ngIf="isLogin" class="text-white" routerLink="movies">Movies</a>
        </li>
        <li class="px-2">
          <a *ngIf="isLogin" class="text-white" routerLink="tv">TvShows</a>
        </li>
        <li class="px-2">
          <a *ngIf="isLogin" class="text-white" routerLink="people">People</a>
        </li>
      </ul>
   </div>
   <div class="drop-menu ms-auto p-3">
      <ul class="d-flex ms-auto mb-2 mb-lg-0">
        <li class="d-flex align-items-center">
          <input type="text" class="form-control p-0 me-4 pe-3 ps-2" (keyup)="searchForMedia($event)"  placeholder="Search and explore..." *ngIf="isLogin"/>
        </li>
        <li class="nav-hide">
          <a *ngIf="!isLogin" class="text-white" routerLink="register">Register</a>
        </li>
        <li class="nav-hide">
          <a *ngIf="!isLogin" class="text-white" routerLink="login">Login</a>
        </li>
        <li class="nav-hide">
          <a (click)="logOut()" *ngIf="isLogin" class="text-white out">Log Out</a>
        </li>
      </ul>
   </div>
   <div class="open-menu pt-3" (click)="openMenu()">
      <i class="fa-solid fa-bars fs-3"></i>
   </div>
   <div class="menu" [style.left]="menuStyle">
    <ul class="m-0 px-2 mt-3">
      <li class="py-2">
        <a *ngIf="isLogin" class="text-white" routerLink="home">Home</a>
      </li>
      <li class="py-2">
        <a *ngIf="isLogin" class="text-white" routerLink="movies">Movies</a>
      </li>
      <li class="py-2">
        <a *ngIf="isLogin" class="text-white" routerLink="tv">TvShows</a>
      </li>
      <li class="py-2">
        <a *ngIf="isLogin" class="text-white" routerLink="people">People</a>
      </li>
      <li class="pb-1">
        <a *ngIf="!isLogin" class="text-white" routerLink="register">Register</a>
      </li>
      <li class="">
        <a *ngIf="!isLogin" class="text-white" routerLink="login">Login</a>
      </li>
      <li class="py-1">
        <a (click)="logOut()" *ngIf="isLogin" class="text-white out">Log Out</a>
      </li>
    </ul> 
     <div class="close-menu pt-1" (click)="closeMenu()">
      <i class="fa-solid fa-xmark fs-3"></i>
     </div>
   </div>
</nav>