<section class="contact py-4">
    <div class="container">
      <h2 class="text-center py-5 text-3xl fw-bold"> 
         Contact Us 
      </h2>
      <p>
        Middle East & Africa:<br/>
        Capital Business Park B6 314, Sheikh Zayed, Giza, Egypt<br/>
        Customer Service Hours: Saturday - Thursday 10 AM - 6 PM<br/>
        Contact Us: 01023446902<br/>
        Email: support&#64;stylish.com <br/> 
      </p>
      <p class="py-4">
        Europe:<br/>
        Opernring 1/R/201, Vienna, Austria<br/>
        Email: support&#64;Noxe.com
      </p>
    </div>
  </section>